build/
dist/
*.zip
*.o
su
ksu-toastd
apk/app/build/
apk/build/
apk/.gradle/
apk/local.properties
.DS_Store
KernelSU-Next/
Magisk/
bindhosts/
ksu_toolkit/
mountify/
various_stuff/
small_module/
kernelnosu/
